

    <div class="container mt-4">
        <div class="card" >
            <div class="card-header">
                Register Form
            </div>
            <div class="card-body">
                <form action="/auth/register" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                    <div class="mb-3">
                        <label for="passwordConfirm" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm">
                    </div>

                    <div class="mb-3">
                        <label for="avatar">Choose a profile picture:</label>
                    </div>
                    <div class="mb-3">
                        <input type="file" name="victim_img" accept="image/*"/>
                    </div>

                    <button type="submit" class="btn btn-primary">Register User</button>
                </form>
            </div>
        </div>

        {{#if message }}
            <h6 class="alert alert-danger mt-4">{{message}}</h6>
        {{/if}}
    </div>
